{
    "branches": ["main"],
    "plugins":
        [
            "@semantic-release/commit-analyzer",
            "@semantic-release/release-notes-generator",
            "@semantic-release/npm",
            "@semantic-release/changelog",
            "@semantic-release/git",
            "@semantic-release/github",
            ["@codedependant/semantic-release-docker", {
                "dockerRegistry": "ghcr.io",
                "dockerProject": "tomerh2001",
                "dockerArgs": {
                    "GH_REPO": "{{env.GH_REPO}}",
                    "RELEASE_NOTES": "${{release_notes}}"
                }
            }]
        ]
}