name: Dynamic README Generation

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_templates:
    name: "Update Templates"
    runs-on: ubuntu-latest
    steps:
      - name: "Fetching Repository Contents"
        uses: actions/checkout@main

      - name: "Github Repository Metadata"
        uses: varunsridharan/action-repository-meta@main
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: "Dynamic Template Render"
        uses: varunsridharan/action-dynamic-readme@main
        with:
          files: |
            .templates/README.md=README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
