name: Semantic Versioning

on:
  push:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: "22.x"

    - name: Install Dependencies
      run: corepack enable && yarn

    - name: Run Tests
      run: yarn jest --coverage tests --passWithNoTests

    - name: Run Build
      run: yarn build

    - name: Authenticate with ghcr.io
      run: echo "${{ secrets.GH_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Semantic Release
      run: yarn semantic-release
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        GH_REPO: ${{ github.server_url }}/${{ github.repository }}
        DOCKER_REGISTRY_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
        DOCKER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
